<h2 class="index-title">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'post-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'input-with-label' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'post-form-button' %>
  </div>
<% end %>

<div class="top">
  <%= render "devise/shared/links" %>
</div>
