<h1>User Information</h1>
<div class="user-profile">
  <!-- Mostrar la información básica del usuario -->
  <ul>
    <li><img src="<%= @user.photo %>" alt="<%= @user.name %>'s photo"></li>
    <li><%= @user.name %></li>
    <li>Number of posts: <%= @user.posts.count %></li>
  </ul>
  
  <p>Bio: <%= @user.bio %></p>

  <h2>Recent Posts:</h2>
  <% @user.posts.limit(3).each do |post| %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>

      <p>Total Comments: <%= post.comments.count %></p> <!-- Cantidad total de comentarios -->
      <p>Total Likes: <%= post.likes.count %></p> <!-- Cantidad total de likes -->
    </div>
  <% end %>
  
  <%= button_to "See All Posts", user_posts_path(@user), method: :get %> <!-- Botón para ver todos los posts -->
</div>