<h2 class="index-title">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'post-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field flex-container">
    <div class="label-container">
      <%= f.label :password, "New password", class: 'label-fixed-width' %><br />
      <% if @minimum_password_length %>
        <em class="password-notice">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'post-form textarea' %>
  </div>

  <div class="field flex-container">
    <div class="label-container">
      <%= f.label :password_confirmation, "Confirm new password", class: 'label-fixed-width' %>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'post-form textarea' %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: 'post-form button' %>
  </div>
<% end %>

<div class="top">
  <%= render "devise/shared/links" %>
</div>
