<h2 class="index-title">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'post-form' }) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'post-form textarea' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'post-form textarea' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'post-form button' %>
  </div>
<% end %>

<div class="top">
  <%= render "devise/shared/links" %>
</div>