<h2>Total Comments</h2>
<div>
  <div class="user-card left">
    <h3><%= @post.title %> by <%= @user.name %></h3>
    <div class="right">
      <span class="span-post">Comments: <%= @post.comments.count %></span>
      <span class="span-post" data-target="likes_count">Likes: <%= @post.likes.count %></span>
      <%= button_to "Like", user_post_likes_path(@user, @post), method: :post, class: "button", remote: true %>
    </div>
    <br>
    <p><%= @post.content %></p>
  </div>
  <div class="user-card left">
    <ul>
      <h5>All the Comments:</h5>
      <br>
      <% @post.comments.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'New Comment', new_user_post_comment_path(@user, @post), class: 'button top' %>

<% if @prev_post.present? %>
  <%= button_to "Previous Post", user_post_path(@user, @prev_post), method: :get, class: "button top" %>
<% end %>

<% if @next_post.present? %>
  <%= button_to "Next Post", user_post_path(@user, @next_post), method: :get, class: "button top" %>
<% end %>
